
.signInCard {
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.signInheader {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 65px;
}

.submitInSignIn {
    width: 100%;
    margin-top: 3px;
}

.signInFooter {
    width: 100%;
    padding-block: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.footerText {
    font-size: small;
    color: #5e5e5e;
    font-weight: 400;
}