.cardWrapper {
  width: auto;
  height: auto;
  --card-outer-padding: 9px;
  --card-outer-border-radius: 24px;
  background-color: #eaeaea;
  padding: var(--card-outer-padding);
  border-radius: var(--card-outer-border-radius);
}

.card {
  background-color: white;
  width: auto;
  height: auto;
  border-radius: calc(
    var(--card-outer-border-radius) - var(--card-outer-padding)
  );
}
