.header {
  flex: 0 0 auto;
  font-weight: bold;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 35px;
  padding-inline-end: 23px;
  padding-block: 26px;
}

.loginText {
  font-weight: 500;
  font-size: small;
  background: none;
  border: none
}

.feedWrapper {
height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.contentSection {
    flex: 100%;
    display: flex;
    justify-content: center;
    overflow: scroll;
    width: 100%;
}

.feedSection {
  display: flex;
  max-width: 500px;
  row-gap: 23px;
  flex-direction: column;
  margin-top: 20px;
}

.notAuthenticated {
  pointer-events: none;
}


.modalPopup {
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.226);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}